  .web-button {
    border: 1px blue solid;
    padding: 10px;
    border-radius: 10px;
  }
  
  .button-list {
    text-align: center;
  }
  
  .button-list a {
    margin: 20px 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  .live-pages {
    background: #454954;
  }
  
  .live-pages .page-header {
    margin: 0;
    padding: 40px 0;
    border-bottom: 1px solid #EEE;
    background: #FFF;
  }
  
  .live-pages .page-header h1 {
    font-size: 25px;
    line-height: 35px;
    margin: 0;
  }
  
  .live-pages .page-agreement {
    padding: 30px 0;
    background: #F4F9FD;
    background: -moz-linear-gradient(top, #F4F9FD 0, #FFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F9FD), color-stop(100%, #FFF));
    background: -webkit-linear-gradient(top, #F4F9FD 0, #FFF 100%);
    background: -o-linear-gradient(top, #F4F9FD 0, #FFF 100%);
    background: -ms-linear-gradient(top, #F4F9FD 0, #FFF 100%);
    background: linear-gradient(to bottom, #F4F9FD 0, #FFF 100%);
  }
  
  .live-pages .page-agreement .page-tabs .nav-tabs {
    border: 0;
    margin: 10px 0 30px 0;
  }
  
  .live-pages .page-agreement .page-tabs .nav-tabs li a {
    border: 1px solid #EEE;
    border-radius: 5px;
    background: #FFF;
  }
  
  .live-pages .page-agreement .page-tabs .nav-tabs li.active a {
    background: #0053A7;
    color: #FFF;
  }
  
  .live-pages .page-agreement .tab-content {
    font-size: 18px;
    line-height: 28px;
  }
  
  .live-pages .page-agreement .tab-content h1 {
    font-size: 30px;
    margin: 0 0 30px 0;
  }
  
  .live-pages .page-agreement .tab-content h2 {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
  
  .live-pages .page-agreement .tab-content p {
    margin: 0 0 30px 0;
    color: #333;
  }
  
  .live-pages .page-agreement .tab-content ul,
  .live-pages .page-agreement .tab-content ol {
    margin: 0 0 30px 0;
  }
  
  .live-pages .page-agreement .tab-content a {
    color: #333;
  }
  
  .live-pages .page-footer {
    background: #454954;
    padding: 30px 0;
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
  }